<header class='second-header'>
  <%= link_to root_path, class:"second-logo" do%>
    <span>TaskApp </span>
    <i class="fa-solid fa-cubes"></i>
  <% end %> 
  <div class='register-btN'>
    <%= link_to 'ログイン画面へ', new_user_session_path, class: "header-bottom" %>
  </div>       
</header>