<header class='third-header'>
  <%= link_to root_path, class:"second-logo" do%>
    <span>TaskApp </span>
    <i class="fa-solid fa-cubes"></i>
  <% end %> 
  <div class='register-btN'>
    <%= link_to '会員登録画面へ', new_user_registration_path, class: "header-bottom" %>
  </div>       
</header>